<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #user-info {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    #user-id, #main-page-link {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        background-color: #f9f9f9;
    }

    #user-id {
        background-color: #ffdddd;
    }
</style>
<body>
<div id="user-info">
    <span id="user-id">ID: {{ user }}</span><br>
    <a id="main-page-link" href="{{ url_for('main_page', id=user) }}">Main Page</a>
</div>

<h2>{{ movie_info[1] }}</h2>

<table border="1">
    <thead>
    <th>director</th>
    <th>genre</th>
    <th>release date</th>
    </thead>
    <tbody>
    <tr>
        <td>{{ movie_info[2] }}</td>
        <td>{{ movie_info[3] }}</td>
        <td>{{ movie_info[4] }}</td>
    </tr>
    </tbody>

</table>

<hr>

<h2>[Reviews]</h2>
<h3>Average Ratings: {{ average_rating }}</h3>

<table border="1">
    <thead>
    <th>ratings</th>
    <th>user</th>
    <th>review</th>
    <th>time</th>
    </thead>
    <tbody>
    {% for review in reviews %}
        <tr>
            <td>{{ review[0] }}</td>
            <td>
                <form action="/user_info" method="post">
                    <input type="hidden" name="id" value= {{ user }}>
                    <input type="submit" name="review" value="{{ review[1] }}">
                </form>
            </td>
            <td>{{ review[2] }}</td>
            <td>{{ review[3] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="/submit_review" method="post">
    <input type="hidden" name="id" value="{{ user }}">
    <input type="hidden" name="movie" value="{{ movie_info[0] }}">
    <input type="hidden" name="movie_name" value="{{ movie_info[1] }}">
    <label for="ratings">My Review:</label><br>
    <select name="ratings" id="ratings">
        {% for i in range(1, 6) %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select><br>
    <textarea name="review_text" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>