<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #user-info {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    #user-id, #main-page-link {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        background-color: #f9f9f9;
    }

    #user-id {
        background-color: #ffdddd;
    }
</style>
<body>

<div id="user-info">
    <span id="user-id">ID: {{ user }}</span><br>
    <a id="main-page-link" href="{{ url_for('main_page', id=user) }}">Main Page</a>
</div>
<h1>{{ target_user_id }}</h1>

{% if target_role != 'admin' and user != target_user_id%}
<form action="/tie" method="post">
    <input type="hidden" name="id" value= {{ user }}>
    <input type="hidden" name="target_user_id" value= {{ target_user_id }}>
    <input type="submit" name="send" value="follow">
    <input type="submit" name="send" value="mute">
</form>
{% endif %}

<h2>[Reviews]</h2>
<table border="1">
    <thead>
        <th>ratings</th>
        <th>movies</th>
        <th>review</th>
        <th>time</th>
    </thead>
    <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review[0] }}</td>
                <td>
                    <form action="/movie_info" method="post">
                        <input type="hidden" name="id" value= {{ user }}>
                        <input type="submit" name="movie" value="{{ review[1] }}">
                    </form>
                </td>
                <td>{{ review[2] }}</td>
                <td>{{ review[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<h2>[Followers]</h2>
{% for follower in followers %}
    <form action="/user_info" method="post">
        <input type="hidden" name="id" value= {{ user }}>
        <input type="submit" name="target_user_id" value="{{ follower[0] }}">
    </form>
{% endfor %}

<hr>

{% if target_role != 'admin' and user == target_user_id %}
    <h2>[Followed]</h2>
    <table border="1">
        <thead>
        <tr>
            <th>User</th>
            <th>Unfollow</th>
        </tr>
        </thead>
        <tbody>
        {% for followed_user in followed_users %}
            <tr>
                <td>
                    <form action="/user_info" method="post">
                        <input type="hidden" name="id" value= {{ user }}>
                        <input type="submit" name="target_user_id" value="{{ followed_user[0] }}">
                    </form>
                </td>
                <td>
                    <form action="/edit_tie" method="post">
                        <input type="hidden" name="id" value="{{ user }}">
                        <input type="hidden" name="target_user_id" value="{{ followed_user[0] }}">
                        <input type="submit" name="send" value="unfollow">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>[Muted]</h2>
    <table border="1">
        <thead>
        <tr>
            <th>User</th>
            <th>Unmute</th>
        </tr>
        </thead>
        <tbody>
        {% for muted_user in muted_users %}
            <tr>
                <td>
                    <form action="/user_info" method="post">
                        <input type="hidden" name="id" value= {{ user }}>
                        <input type="submit" name="target_user_id" value="{{ muted_user[0] }}">
                    </form>
                </td>
                <td>
                    <form action="/edit_tie" method="post">
                        <input type="hidden" name="id" value="{{ user }}">
                        <input type="hidden" name="target_user_id" value="{{ muted_user[0] }}">
                        <input type="submit" name="send" value="unmute">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<hr>

{% if target_role == 'admin' and user == "admin" %}
    <h2>[Add Movie]</h2>
    <form action="/add_movie" method="post">
        <input type="hidden" name="id" value="{{ user }}">
        <input type="hidden" name="target_user_id" value="{{ target_user_id }}">

        <label for="title">Title:</label><br>
        <input type="text" name="title" required><br>

        <label for="director">Director:</label><br>
        <input type="text" name="director" required><br>

        <label for="genre">Genre:</label><br>
        <select name="genre" required>
            <option value="" disabled selected>Select Genre</option>
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="fantasy">Fantasy</option>
            <option value="horror">Horror</option>
            <option value="mystery">Mystery</option>
            <option value="romance">Romance</option>
            <option value="thriller">Thriller</option>
            <option value="western">Western</option>
        </select><br>

        <label for="release_date">Release Date:</label><br>
        <input type="date" name="release_date" required><br>

        <input type="submit" value="Add">
    </form>
{% endif %}


</body>
</html>